.post-bottom{
  padding: 9px;
}
.heart {
  background-image: url("../../assets/icons/all.png");
  background-repeat: no-repeat;
  background-position:  -49px -260px;
  width: 29px;
  height: 27px;
  cursor: pointer;
}
.red_heart{
  background-image: url("../../assets/icons/all.png");
  background-repeat: no-repeat;
  width: 29px;
  height: 27px;
  background-position: -23px -260px;
  cursor: pointer;
  
}

.save{
  background-image: url("../../assets/icons/all.png");
  background-repeat: no-repeat;
  width: 29px;
  height: 27px;
  background-position: -230px -286px;
  cursor: pointer;
}
.saved_post{
  background-image: url("../../assets/icons/all.png");
  background-repeat: no-repeat;
  width: 29px;
  height: 27px;
  background-position: -154px -286px;
  cursor: pointer;
}
.bottom_panel{
  display: flex;
  justify-content: space-between;
}
.bottom_panel button{
  border: 0;
  background-color: transparent;
}
.bottom_panel button:focus{
 outline: none;
}